<div class="toolbar">
  <i class="fa fa-square-o fa-lg tool-btn btn-toggle" data-toggle="tooltip" title="focus on"></i>
  <i class="feature-name">dirty checking + $watch() + $digest() + $apply()</i>
  <i class="fa fa-lightbulb-o fa-lg tool-btn btn-expl" title="Two Way Data-Binding" data-placement="bottom"></i>
  <i class="fa fa-star fa-lg" data-toggle="tooltip" title="difficulty coefficient"></i>
  <i class="fa fa-star fa-lg" data-toggle="tooltip" title="difficulty coefficient"></i>
</div>
<p class="bg-info example-heading">$watch()</p>
<div ng-controller="WatchCtrl">
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon"><i class="fa fa-comment fa-lg"></i></span>
    <input type="text" class="form-control" id="mycomment" ng-disabled="disabled" value="haha">
  </div>
  <button type="button" class="btn btn-primary" ng-click="editComment()">
    <li class="fa fa-pencil"></li> Edit
  </button>
  <button type="button" class="btn btn-success" ng-click="saveComment()">
    <li class="fa fa-save"></li> Save
  </button>
  <span class="label label-warning pull-right" style="font-size:16px;">edited on {{ editTime }}</span>
</div>
<script type="text/javascript">
  var watcherApp = angular.module('watcherApp', []);
  watcherApp.controller('WatchCtrl', function($scope) {
    $scope.disabled = true;
    $scope.comment = '';
    $scope.editTime = '';

    $scope.editComment = function() {
      this.disabled = false;
    };

    $scope.$watch('comment', function (newValue, oldValue) {
      if (newValue) {
        $scope.editTime = new Date();
      }
    });

    $scope.saveComment = function(event) {
      this.comment = angular.element('#mycomment')[0].value.trim();
      this.disabled = true;
    }
  });
</script>
<hr>