.repeat-css-ani.ng-enter,
.repeat-css-ani.ng-move {
  -webkit-animation:0.5s fadein;
  -moz-animation:0.5s fadein;
  -o-animation:0.5s fadein;
  animation:0.5s fadein;
}

@keyframes fadein {
  from { opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 20px; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 20px; }
}

@-moz-keyframes fadein {
  from { opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 20px; }
}

@-o-keyframes fadein {
  from { opacity: 0; max-height: 0px; }
  to { opacity: 1; max-height: 20px; }
}

.repeat-css-ani.ng-leave {
  -webkit-animation:0.5s fadeout;
  -moz-animation:0.5s fadeout;
  -o-animation:0.5s fadeout;
  animation:0.5s fadeout;
}

@keyframes fadeout {
  from { opacity: 1; max-height: 20px; }
  to { opacity: 0; max-height: 0px; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; max-height: 20px; }
  to { opacity: 0; max-height: 0px; }
}

@-moz-keyframes fadeout {
  from { opacity: 1; max-height: 20px; }
  to { opacity: 0; max-height: 0px; }
}

@-o-keyframes fadeout {
  from { opacity: 1; max-height: 20px; }
  to { opacity: 0; max-height: 0px; }
}