.repeat-ani-css.ng-enter,
.repeat-ani-css.ng-move {  
  -webkit-animation: slideInLeft 0.5s;
  -moz-animation: slideInLeft 0.5s;
  -ms-animation: slideInLeft 0.5s;
  animation: slideInLeft 0.5s;
}

.repeat-ani-css.ng-leave {  
  -webkit-animation: slideOutRight 0.5s;
  -moz-animation: slideOutRight 0.5s;
  -ms-animation: slideOutRight 0.5s;
  animation: slideOutRight 0.5s;
}