<div class="toolbar">
  <i class="fa fa-square-o fa-lg tool-btn btn-toggle" data-toggle="tooltip" title="focus on"></i>
  <i class="feature-name"><a name="data-bind">CSS3 Transitions</a></i>
  <i class="fa fa-lightbulb-o fa-lg tool-btn btn-expl" title="Two Way Data-Binding" data-placement="bottom"></i>
  <i class="fa fa-star-half-o fa-lg" data-toggle="tooltip" title="difficulty coefficient"></i>
  <div class="popoverContent hidden">
    <img src="img/data-bind.jpg">
  </div>
</div>
<div ng-controller="NgRepeatCtrl" class="row">
  <div class="col-md-6">
    <div class="row">
    <div class="input-group col-md-6" style="float: left;">
      <span class="input-group-addon"><li class="fa fa-filter fa-lg"></li></span>
      <input type="text" class="form-control" ng-model="myFilter.keyword">
    </div>
    <div class="btn-group col-md-6">
      <button type="button" class="btn btn-primary">Sort by</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Name</a></li>
        <li><a href="#">Department</a></li>
      </ul>
</div>
</div>
    <ul>
      <li ng-repeat="candidate in candidates | filter: myFilter.keyword">
        {{ candidate.name }} from {{ candidate.department }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="input-group" style="margin-bottom: 20px; margin-top: 20px;">
      <span class="input-group-addon" id="basic-addon1"><li class="fa fa-smile-o fa-lg"></li></span>
      <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" ng-model="newCandidate.name">
    </div>
    <div class="input-group" style="margin-bottom: 20px;">
      <span class="input-group-addon" id="basic-addon2"><li class="fa fa-book fa-lg"></li></span>
      <input type="text" class="form-control" placeholder="Department" aria-describedby="basic-addon2" ng-model="newCandidate.department">
    </div>
    <button type="button" class="btn btn-success" ng-click="appendCandidate()">Append New Candidate</button>
  </div>
</div>
<hr>
<p class="bg-success code-heading">html source code</p>
<pre>
  <code class="html">

  </code>
</pre>
