<div class="toolbar">
  <i class="fa fa-square-o fa-lg tool-btn btn-toggle" data-toggle="tooltip" title="focus on"></i>
  <i class="feature-name"><a href="#data-bind">Two-way Data-Binding</a></i>
  <i class="fa fa-lightbulb-o fa-lg tool-btn btn-expl" title="Two Way Data-Binding" data-placement="bottom"></i>
  <i class="fa fa-star-half-o fa-lg" data-toggle="tooltip" title="difficulty coefficient"></i>
  <div class="popoverContent hidden">
    <img src="img/data-bind.jpg">
  </div>
</div>
<div ng-controller="DataBindCtrl">
  <label for="fav-sport" >type your favorite sport:</label>
  <input type="text" id="fav-sport" ng-model="favSport" placeholder="haha" />
  <h3>Echo: {{favSport}}</h3>
  <button type="button" class="btn btn-success" ng-click="favSport='football'">Football</button>
  <button type="button" class="btn btn-primary" ng-click="favSport='basketball'">Basketball</button>
  <button type="button" class="btn btn-warning" ng-click="favSport='ping  pong'">ping  pong</button>
</div>
<script type="text/javascript">
  var dataBindApp = angular.module('dataBindApp', []);
  dataBindApp.controller('DataBindCtrl', function($scope) {
    $scope.favSport = '';
  });
</script>
<hr>
<p class="bg-success code-heading">html source code</p>
<pre>
  <code class="html">
&lt;div ng-controller=&quot;DataBindCtrl&quot;&gt;
  &lt;label for=&quot;fav-sport&quot; &gt;type your favorite sport:&lt;/label&gt;
  &lt;input type=&quot;text&quot; id=&quot;fav-sport&quot; ng-model=&quot;favSport&quot; placeholder=&quot;haha&quot; /&gt;
  &lt;h3&gt;Echo: {{favSport}}&lt;/h3&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-success&quot; ng-click=&quot;favSport='football'&quot;&gt;Football&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;favSport='basketball'&quot;&gt;Basketball&lt;/button&gt;
  &lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot; ng-click=&quot;favSport='ping  pong'&quot;&gt;ping  pong&lt;/button&gt;
&lt;/div&gt;
  </code>
</pre>
<p class="bg-success code-heading">javascript source code</p>
<pre>
  <code class="javascript">
var dataBindApp = angular.module('dataBindApp', []);
dataBindApp.controller('DataBindCtrl', function($scope) {
  $scope.favSport = '';
});
  </code>
</pre>
