<div class="toolbar">
  <i class="fa fa-square fa-lg btn-toggle"></i>
  <i class="feature-name">Without regard to time factor, let's code presumptuously</i>
</div>
<p class="bg-info example-heading">filter</p>
<div ng-controller="FilterCtrl">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-thumbs-o-up fa-lg"></i></span>
    <input type="text" class="form-control" placeholder="Candidate" ng-model="keyword">
  </div>
  <ul>
    <li ng-repeat="candidate in candidates | orderBy: 'name' | filter: keyword">
      {{ candidate.name }} from {{ candidate.major }}
    </li>
  </ul>
</div>
<script type="text/javascript">
  var filterApp = angular.module('filterApp', []);
  filterApp.controller('FilterCtrl', function($scope) {
    $scope.candidates =
      [{name:'Sebastiane', major:'Philosophy'},
       {name:'Wendy', maior:'Mathematics'},
       {name:'Mike', major:'Economics'},
       {name:'Adam', major:'Computer Science'},
       {name:'Barton', maior:'Electronics'},
       {name:'Clark', major:'Accountancy'},
       {name:'Emma', major:'Mechanical Engineering'},
       {name:'George', maior:'Communications'},
       {name:'Mike', major:'Civil Engineering'},
       {name:'Marina', major:'Human Resources'},
       {name:'Julia', major:'Tourism Science'},
       {name:'Donald', major:'Politics'}];
  });
</script>
<hr>
<p class="bg-success code-heading">html source code</p>
<pre>
  <code class="html">
  </code>
</pre>