<div class="candidate-heading candidate" ng-animate-ref="{{ candidate.index }}">
  {{ candidate.name }} from {{ candidate.department }}
</div>
<div class="row" style="margin-left:0px;margin-right:0px;">
  <div class="col-md-4 id-photo">
    <i class="fa fa-smile-o"></i>
  </div>
    <div class="col-md-8 resume">
      <p class="bg-primary">...</p>
      <p class="bg-success">...</p>
      <p class="bg-info">...</p>
      <p class="bg-warning">...</p>
      <p class="bg-danger">...</p>
    </div>
</div>