.candidate-item > a {
  color: inherit;
  text-decoration: none;
}

.candidate-heading {
  background-color: #5bc0de;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.id-photo {
  font-size: 12em;
  line-height: 0px;
  color: #5bc0de;
  text-align: center;
}

.resume {
  padding: 12px;
}

.view {
  position:absolute;
  top: 52px;
  bottom: 0px;
  width:100%;
}
/* styles for animations */
.view.ng-enter,
.view.ng-leave {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.view.ng-enter {
  opacity: 0;
}
.view.ng-enter.ng-enter-active {
  opacity: 1;
}
.view.ng-leave {
  opacity: 1;
}
.view.ng-leave.ng-leave-active {
  opacity: 0;
}
.candidate.ng-anchor {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.candidate.ng-anchor-out {
  background-color: #5bc0de;
  color: #fff;
}